@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  width: 100%;
  background-color: #e1f5f4;
  font-family: 'Balsamiq Sans', cursive;
  color: #4b5452;
}

header {
  width: 100%;
  background-color: #669dad;
  padding: 20px;
  font-size: 20pt;
  color: black;
}

header nav ul {
float: right;
padding-right: 50px;

}

header nav li{
  display: inline;
  margin: 25px;
  font-size: 20pt;
}

header nav li a {
text-decoration: none;
color: black;
}

main h1 {
  font-size: 30pt ;
  padding-top: 260px;
  padding-left: 100px;
  
}

.myImg {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-right: 100px;
  margin-top: 100px;
  
}

#AM {
  padding-left: 100px; 
  padding-right: 500px;
  padding-bottom: 150px;
  font-size: 15pt;
}

main div ul {
  padding-left: 100px; 
  padding-right: 500px;
  padding-bottom: 150px;
    font-size: 15pt;
}

.T10 {

  padding-left: 100px; 
  padding-right: 500px;
  padding-bottom: 20px;
  font-size: 18pt;
  

}

main ol {
  padding-left: 100px; 
  padding-right: 500px;
  padding-bottom: 150px;
    font-size: 15pt;
}

.nameImg {
  display: flex;
  justify-content: space-between;
}