body,
html {
  font-family: 'Balsamiq Sans', cursive;
  height: 100%;
}

header {
}

header nav {
  margin: 70px 200px;
}

header nav h1 {
  font-size: xx-large;
  display: inline-block;
  float: left;
  color: #ec46a3;
}
header nav h1:hover {
  color: #636466;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header nav ul li {
  display: inline;
  float: right;
  font-size: x-large;
}

header nav ul li a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: small;
  color: #636466;
}

header nav ul li a:hover {
  color: #ec46a3;
}

header nav ul li p {
  display: none;
  margin-left: 30px;
  color: #636466;
}

header nav ul li p span {
  color: #ec46a3;
}

main {
  margin: 100px 200px;
}

/* About me Section */

.about-header {
  font-size: 2.5rem;
  color: #636466;
}
h3, h2, p {
  color: #636466;
}

.about-paragraph {
  font-size: 1.2rem;
  width: 35rem;
  line-height: 25px;
  color: #636466;
}

/* Image Aside */

.flex-box {
  display: flex;
  justify-content: space-between;
}

/* Personal Image */
.image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 105%;
  width: auto;
}

.flex-icons-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.flex-icons {
  display: flex;
  flex-direction: column;
}
.flex-box i {
  font-size: 3rem;
  margin-top: 7px;
  color: #ccc;
  cursor: pointer;
}

.flex-box i:hover {
  color: #ec46a3;
}
